body {
    font-family: 'Source Serif 4', serif;
}

.limit-chars {
    height: 20ch;
    overflow: hidden;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}

.red-like {
    color: rgba(255, 65, 87, 0.5)
}

.red-liked {
    color: rgba(255, 65, 87)
}

.green-author {
    color: rgba(121, 121, 121, 0.5);
}

.blue-date {
    color: rgba(108, 153, 187, 0.5);
}

.btn-blog {
    color: white;
    background-color: rgba(39, 40, 34, 0.5);
}
.btn-blog:hover{
    color: white;
    background-color: rgba(39, 40, 34);
}

.post-img {
    object-fit: cover;
    /*width: auto;*/
    max-height: 450px;
    border-radius: 4%;
}

.index-img {
    object-fit: cover;
    max-height: 250px;
    max-width: 400px;
}

.wide {
    width: 100%;
}

.no-back {
    background-color: transparent;
    border: transparent;
}

.title-spacing {
    letter-spacing: 3px;
}

.blog-bg {
    background-color: rgba(39, 40, 34, 0.95);
}

.light-blog {
    color: rgb(130, 133, 114);
}

.light-blog-bg {
    background-color: rgb(130, 133, 114, 0.7);
}

.blue-blog {
    color: rgb(102, 217, 239);
}

.green-blog {
    color: rgb(166, 226, 46);
}

a {
    color: rgb(102, 217, 239);
}

a:hover {
    color: rgb(45, 94, 103);
}

.keywords {
    color: rgb(110, 148, 31);
}

.form-control:focus{
    border-color: rgb(102, 217, 239);
}

/*.card {*/
/*    height: 275px;*/
/*}*/