body {
    font-family: 'Source Serif 4', serif;
}

.limit-chars {
    height: 15ch;
    overflow: hidden;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}

.red-like {
    color: rgba(255, 65, 87, 0.5)
}

.red-liked {
    color: rgba(255, 65, 87)
}

.green-author {
    color: rgba(121, 121, 121, 0.5);
}

.blue-date {
    color: rgba(108, 153, 187, 0.5);
}

.btn-p {
    color: white;
    background-color: rgb(142, 142, 147, 0.9);
}
.btn-p:hover{
    color: white;
    background-color: rgb(44, 44, 46);
}

.post-img {
    object-fit: cover;
    /*width: auto;*/
    max-height: 450px;
    border-radius: 4%;
}

.index-img {
    object-fit: cover;
    max-height: 300px;
}

.wide {
    width: 100%;
}

.no-back {
    background-color: transparent;
    border: transparent;
}

.title-spacing {
    letter-spacing: 3px;
}