{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row m-4">
        <br>
        <span class="display-4 text-center"><i class="fa-solid fa-envelope-open-text"></i> Contact</span>
        <br>
    </div>
    <div class="row">
        <div class="card mx-auto" style="width: 23rem;">
            <img class="card-img-top" src="https://us.123rf.com/450wm/archivector/archivector1902/archivector190200146/117306334-abstract-sign-avatar-icon-profile-white-symbol-on-gray-circle-background-vector-illustration.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="fw-bold">Website admin:</span> Erick Patrick</h5>
                <ul class="card-text">
                    <li>
                        Loves gaming, homelab, self-host and technology.
                    </li>
                    <li>
                        Made this website to share knowledge about those hobbies.
                    </li>
                    <li>
                        Any problems, please contact by links below.
                    </li>
                </ul>
                <p class="card-text"><i class="fa-solid fa-heart"></i> Developed with: </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa-brands fa-python"></i> Django 4.1</li>
                <li class="list-group-item"><i class="fa-brands fa-bootstrap"></i> Bootstrap 5.1</li>
                <li class="list-group-item"><i class="fa-brands fa-html5"></i> HTML5</li>
            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/fpatrickerick/" target="_blank" class="card-link"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
                <a href="mailto:erick.patrick@pm.me" class="card-link"><i class="fa-solid fa-at"></i> Email</a>
            </div>
        </div>
    </div>
</div>


{%endblock%}