{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row m-4">
        <br>
        <span class="display-4 text-center"><i class="fa-solid fa-envelope-open-text"></i> Contact</span>
        <br>
    </div>
    <div class="row">
        <div class="card mx-auto" style="width: 23rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="fw-bold">Website admin:</span> Erick Patrick</h5>
                <ul class="card-text">
                    <li>
                        Loves gaming, homelab, self-host and technology.
                    </li>
                    <li>
                        Made this website to share knowledge about those hobbies.
                    </li>
                    <li>
                        Any problems, please contact by links below.
                    </li>
                </ul>
                <p class="card-text">Developed with: </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Django 4.1</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">HTML5</li>
            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/fpatrickerick/" target="_blank" class="card-link">Linkedin</a>
                <a href="mailto:erick.patrick@pm.me?subject=About(var) Feedback" class="card-link">Email</a>
            </div>
        </div>
    </div>
</div>


{%endblock%}