{% extends "base.html" %}

{% block content %}

<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <i class="fa-brands fa-hotjar"> </i>
            <span class="fs-4"> Hot Articles</span>
        </a>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-12 mt-3">
                <div class="row">
                    {% for post in post_list %}
                    <div class="card mb-3 text-center">
                        <div class="row g-0">
                            <div class="col-md-4 mt-5">
                                <img width="100%" height="10%"
                                     src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                     class="img-fluid rounded" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text"><small>
                                        <span class="red-like"><i class="fa-solid fa-heart"></i> {{ post.number_of_likes }} Likes &nbsp&nbsp</span>
                                        <span class="green-author"><i class="fa-solid fa-user"></i> Author: {{ post.author }} &nbsp&nbsp</span>
                                        <span class="blue-date"><i class="fa-regular fa-calendar"></i> {{ post.created_on}}</span>
                                    </small></p>
                                    <div class="limit-chars">
                                        <p class="card-text">{{ post.content | safe }}</p>
                                    </div>
                                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-p mt-3">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        <!-- End of row -->
        </div>
    <!-- End of Container fluid -->
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}