{% extends "base.html" %}

{% block content %}

<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header>
        <div class="container">
            <div class="row">
                <br>
                <span class="display-6 text-center">You searched for: <span class="fw-bold">{{ term }}</span></span>
                <br><br><br>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-12 mt-5">
                <div class="row">
                    {% for post in post_list %}
                    <div class="card bg-light mb-3 text-center">
                        <div class="row g-0">
                            <div class="col-md-5">
                                <div class="image-container img-thumbnail mt-1 mb-1">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="rounded card-img-top"
                                         src="https://media.istockphoto.com/photos/back-view-photo-of-professional-female-hacker-picture-id1015143300?k=20&m=1015143300&s=612x612&w=0&h=6wp5IHqUO599BpsTTzYtNOt-NMmc1jbo6IzG7QFYA_0=">
                                    {% else %}
                                    <img class="rounded index-img card-img-top" src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                </div>
                            </div>
                            {{ post.secure_url }}
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title mb-0 h3">{{ post.title }}</h5>
                                    <p class="card-text">
                                        <small class="border-top">
                                            &nbsp
                                            <span class="green-author"><i class="fa-solid fa-user"></i> {{ post.author }} &nbsp&nbsp</span>
                                            <span class="red-like"><i class="fa-solid fa-heart"></i> {{ post.number_of_likes }} &nbsp&nbsp</span>
                                            <span class="blue-date"><i class="fa-regular fa-calendar"></i> {{ post.created_on}}&nbsp</span>
                                        </small>
                                    </p>
                                    <div class="limit-chars">
                                        <p class="card-text">{{ post.content | safe }}</p>
                                    </div>
                                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-blog mt-3">Read More</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
            <!-- End of row -->
        </div>
        <!-- End of Container fluid -->
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-light"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}